.App {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-content: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 30%;
}
li {
  list-style: none;
}
.card {
  border: 1px solid;
  padding: 3px;
  text-align: center;
}
.edit-buttons {
  text-align: center;
}
button {
  border: 2px solid #ffaa00;
  cursor: pointer;
  padding-top: 4px;
}
button:hover {
  background-color: #ffaa00;
}
